{% extends "baseLayout.html" %}
{% block content %}
    <div class="data-box">
        <div class="header">
            <div>
                <div>
                    <i class="fa-solid fa-gauge"></i>
                    <span>3.6 km/h</span>
                </div>
                <p>SPEED</p>
            </div>
            <div>
                <div>
                    <i class="fa-solid fa-battery-half"></i>
                    <span>72%</span>
                </div>

                <p>BATTERY</p>
            </div>
            <div>
                <div>
                    <i class="fa-solid fa-people-arrows"></i>
                    <span>223 cm</span>
                </div>
                <p>DISTANCE</p>
            </div>
        </div>
        <ul class="footer">
            <li>
                <img src="/static/a35ebcf279a43610ba249caa8d97db7.jpg"><span>Any specific hardware is using</span>
            </li>
            <li>
                <img src="/static/a35ebcf279a43610ba249caa8d97db7.jpg"><span>Any specific hardware is using</span>
            </li>
            <li>
                <img src="/static/6562e61767db1fb994bf0eaa96ff660.jpg"><span>Any specific hardware is using</span>
            </li>
            <li>
                <img src="/static/6562e61767db1fb994bf0eaa96ff660.jpg"><span>Any specific hardware is using</span>
            </li>
            <li>
                <img src="/static/6562e61767db1fb994bf0eaa96ff660.jpg"><span>Any specific hardware is using</span>
            </li>
            <li>
                <img src="/static/a35ebcf279a43610ba249caa8d97db7.jpg"><span>Any specific hardware is using</span>
            </li>
        </ul>

    </div>

{% endblock %}