{% extends "baseLayout.html" %}
{% block content %}
    <div class="faq-box">
        <div>
            <div>
                <i class="fa-solid fa-minus"></i>
                <span>where I can find the reference ?</span>
                <i class="fa-solid fa-chevron-up"></i>
            </div>
            <textarea placeholder="No you cannot">

            </textarea>
        </div>
        <div>
            <div>
                <i class="fa-solid fa-minus"></i>
                <span>Are you serious ?</span>
                <i class="fa-solid fa-chevron-up"></i>
            </div>
            <textarea>

            </textarea>
        </div>
        <div>
            <div>
                <i class="fa-solid fa-minus"></i>
                <span>More ?</span>
                <i class="fa-solid fa-chevron-up"></i>
            </div>
            <textarea>

            </textarea>
        </div>
    </div>
{% endblock %}